VITE_FIREBASE_API_KEY=AIzaSyDhZA5YWsBVcEQQS10XI_unPaeF8N1bqu8
VITE_FIREBASE_AUTH_DOMAIN=homequarters-60838.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=homequarters-60838
VITE_FIREBASE_STORAGE_BUCKET=homequarters-60838.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=866324462271
VITE_FIREBASE_APP_ID=1:866324462271:web:996b596cb5c73d6812240a
